{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="heading-page header-text">
        <section class="page-heading">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-content">
                            <h4>Recent Posts</h4>
                            <h2>Our Recent Blog Entries</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- Banner Ends Here -->

    <section class="call-to-action">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="main-content">
                        <div class="row">
                            <div class="col-lg-8">
                                <span></span>
                                <h4></h4>
                            </div>
                            <div class="col-lg-4">
                                <div class="main-button">
                                    <a href="" target="_parent"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="blog-posts grid-system">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="all-blog-posts">
                        <div class="row">
                            {% for post in posts %}
                                <div class="col-lg-6">
                                    <div class="blog-post">
                                        <div class="blog-thumb">
                                            <img src="{{ post.photo.url }}" alt="">
                                        </div>
                                        <div class="down-content">
                                            <span>{{ post.category }}</span>
                                            <a href="{% url 'post_detail' pk=post.pk %}">
                                                <h4>{{ post.title }}</h4>
                                            </a>
                                            <ul class="post-info">
                                                <li><a href="#">{{ post.author.username }}</a></li>
                                                <li><a href="#">{{ post.date|date:"F j, Y" }}</a></li>
                                                <li><a href="#">{{ post.comments.count }} Comments</a></li>
                                            </ul>
                                            <p>{{ post.body|truncatewords:20 }}</p>
                                            <div class="post-options">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <ul class="post-tags">
                                                            <li><i class="fa fa-tags"></i></li>
                                                            <li><a href="#">{{ post.hashtags.all|join:", " }}</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="col-lg-12 mt-4">
                                <nav aria-label="Page navigation">
                                    <ul class="pagination justify-content-center">
                                        {% if page_obj.has_previous %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page=1&q={{ request.GET.q }}"
                                                   aria-label="First">First</a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link"
                                                   href="?page={{ page_obj.previous_page_number }}&q={{ request.GET.q }}"
                                                   aria-label="Previous">Previous</a>
                                            </li>
                                        {% endif %}

                                        {% for num in page_obj.paginator.page_range %}
                                            {% if num == page_obj.number %}
                                                <li class="page-item active" aria-current="page">
                                                    <span class="page-link">{{ num }}</span>
                                                </li>
                                            {% else %}
                                                <li class="page-item">
                                                    <a class="page-link"
                                                       href="?page={{ num }}&q={{ request.GET.q }}">{{ num }}</a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}

                                        {% if page_obj.has_next %}
                                            <li class="page-item">
                                                <a class="page-link"
                                                   href="?page={{ page_obj.next_page_number }}&q={{ request.GET.q }}"
                                                   aria-label="Next">Next</a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link"
                                                   href="?page={{ page_obj.paginator.num_pages }}&q={{ request.GET.q }}"
                                                   aria-label="Last">Last</a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="sidebar">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="sidebar-item search">
                                    <form method="GET" action="{% url 'search' %}">
                                        <input type="text" name="q" placeholder="Search..." value="{{ request.GET.q }}">
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="sidebar-item recent-posts">
                                    <div class="sidebar-heading">
                                        <h2>Recent Posts</h2>
                                    </div>
                                    <div class="content">
                                        <ul>
                                            {% for recent_post in posts|slice:":3" %}
                                                <li>
                                                    <a href="{% url 'post_detail' pk=recent_post.pk %}">
                                                        <h5>{{ recent_post.title }}</h5>
                                                        <span>{{ recent_post.date|date:"F j, Y" }}</span>
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="sidebar-item categories">
                                    <div class="sidebar-heading">
                                        <h2>Categories</h2>
                                    </div>
                                    {% for post in posts %}
                                        <div class="content">
                                            <ul>
                                                <li><a href="#">- {{ post.category }}</a></li>
                                                {#                        <li><a href="#">- Awesome Layouts</a></li>#}
                                                {#                        <li><a href="#">- Creative Ideas</a></li>#}
                                                {#                        <li><a href="#">- Responsive Templates</a></li>#}
                                                {#                        <li><a href="#">- HTML5 / CSS3 Templates</a></li>#}
                                                {#                        <li><a href="#">- Creative & Unique</a></li>#}
                                            </ul>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="sidebar-item tags">
                                    <div class="sidebar-heading">
                                        <h2>Tag Clouds</h2>
                                    </div>
                                    <div class="content">
                                        <ul>
                                            <li><a href="#">Lifestyle</a></li>
                                            <li><a href="#">Creative</a></li>
                                            <li><a href="#">HTML5</a></li>
                                            <li><a href="#">Inspiration</a></li>
                                            <li><a href="#">Motivation</a></li>
                                            <li><a href="#">PSD</a></li>
                                            <li><a href="#">Responsive</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}